page-login {

}

.logo{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.connexionButton{
    margin-top: 70px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.inscriptionButton{
    margin-top: 10px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
