
.timer-button {
    font-size: 5rem !important;
    height: 1em !important;
}

.no-bottom-border.item .item-inner {
    border-bottom: none !important;
}

.addGoalButton{
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: #D8D8D8;
}

.changeButton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #D8D8D8;
}

